body {
    margin: 0;
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoue UI Emoji', 'Segoue UI Symbol';
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}
div {
    display: block;
}

.topo {
    background-color: rgb(217, 85, 80);
    min-height: 100vh;
    width: 100%;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    padding-bottom: 12px;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
}

.cabecalho {
    display: block;
    background-color: rgb(217,85,80);
}

.centralizado {
    padding: 0px 12px;
    max-width: 620px;
    margin: auto;
}

.cabecalhoBotao {
    background-color: inherit;
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.tituloLogo {
    display: inline-block;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.tituloLogo a {
    color: white;
}

.blocoSpan {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.icon {
    width: 20px;

}

h1, h2, h3, h4 {
    color: hsl(357, 50%, 22%);
    margin-top: 1.8rem;
    margin-bottom: 0em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2 {
    margin-top: 34px;
    display:inline-block;
    padding-bottom: 4px;
    margin-bottom: 4px;
    line-height: 1.4em;
}

.botao {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-left: 10px;
    font-size: 13px;
    padding: 8px 12px;
    min-width: 70px;
    border: none;
    color: white !important;
}

.imagem {
    width: 16px;
}

.descricao {
    display: block;
    margin-left: 4px;
}

.login {
    position: relative;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
}

.bloco {
    text-align: center;
}

.divisao {
    background-color: rgb(0,0,0,0.1);
    height: 1px;
    margin-bottom: 40px;
}

.linhadivisao {
    height: 3px;
    background-color: white;
    border-radius: 100px;
    transform: translateY(-1px);
    width: 0%;
}

.blocoCentral {
    max-width: 480px;
    margin: auto;
}

.central1 {
    background-color: rgba(255,255,255,0.1);
    padding: 20px 0px 30px;
    border-radius: 100px;
    margin-bottom: 20px;
    width: 100%;
}

.botoesBloco {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.botaoPomo {
    border: none;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background-color: none rgb(0,0,0,0.15);
    box-shadow: none;
    color: white;
    font-weight: bold;
}

.botaoDscurto {
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}

.tempo {
    font-size: 120px;
    font-weight: bold;
    margin-top: 20px;
}

.Start {
    position: relative;
    display: inline-block;
    width: 100%;
}

.botaoIniciar {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235,235,235) 0px 6px 0px;
    font-family: Helvetica;
    font-size: 22px;
    height: 55px;
    color: rgb(217,85,80);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}

.avancar {
    width: calc((100% - 200px) / 2 + 5%);
    position: absolute;
    right: 0px;
    bottom: -6px;
    height: 54px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: none;
}

.botaoAvancar {
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    width: 28px;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    bottom: 9px;
    right: -50px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
}

.avancarImg {
    width: 22px;
    opacity: 0.9;
}

.steps {
    font-size: 16px;
    opacity: 0.6;
    margin-bottom: 4px;
}

.mensagem {
    font-size: 18px;
    font-weight: 100;
    color: white;
    overflow-wrap: break-word;
}

.corpoTarefas {
    max-width: 480px;
    margin: 20px auto 42px;
}

.tarefas {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    padding-bottom: 14px;
}

.descricaoTarefas {
    font-size: 18px;
    font-weight: bold;
}

.opcao {
    position: relative;
}

.botaoOpcao {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-left: 10px;
    font-size: 13px;
    padding: 8px;
    min-width: auto;
    border: none;
    color: white !important;
}

.imgOpcao {
    width: 18px;
}

.corpoOpcao {
    border-radius: 4px;
    opacity: 1;
    padding: 4px 0px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 10%) 0px 3px 6px;
    display: block;
    pointer-events: auto;
    position: absolute;
    background-color: white;
    transform: translateY(10px);
    width: 200px;
    right: 0px;
    z-index: 1;
}

.botoesOpcao {
    color: rgb(79,43,45);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.imgTarefas {
    opacity: 0.8;
    width: 14px;
    margin-right: 8px;
}

.divisaoOpcao {
    height: 1px;
    width: 85%;
    background-color: rgb(239,239,239);
    margin: auto;
}

.separacaoTarefas {
    margin-top: 18px;
}

.adicionaTarefas {
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 12px;
    border: 2px dashed rgba(255,255,255,0.4);
}

.imgAddTarefas {
    width: 18px;
    margin-right: 8px;
    opacity: 0.8;
}

.descricaotarefas {
    opacity: 0.8;
    font-weight: bold;
}

.container {
    max-width: 620px;
    margin: auto;
    padding: 0 12px;    
}

.imageCont {
    margin-top: 30px;
}

.titulo{
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    display: block;
    width: 24px;
    padding-top: 8px;
    border-bottom: 4px solid #f05b56;
    opacity: 0.6;
}

p {
    font-size: 18px;
    line-height: 1.6em;
    color: hsl(357, 12%, 42%);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ol {
    font-size: 16px;
    -webkit-padding-start: 24px;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 18px;
    list-style: none;
    -webkit-padding-start: 24px;
}

li {
    line-height: 1.6rem;
    color: hsl(357,12%,42%);
    margin: 12px 0px;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 16px;
}

li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.listaCaract li::before {
    color: hsl(357, 74%, 67%);
    content: '\2022';
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rodape {
    margin-top: 40px;
    border-top: 2px solid #efefef;
    text-align: center;
    padding-top: 30px;
    color: hsl(357,12%,42%);
    padding-bottom: 20px;
}

.rodape_menuSite {
    margin-bottom: 14px;
}

a {
    text-decoration: none !important;
    color: hls(357, 74%, 67%);
    color: rgb(217 85 80);
    font-weight: bold;
}

.rodape_redesSociais {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.rodape_redesSociais img {
    background-color: #999;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    padding: 6px;
    margin: 0px 6px;
    margin-bottom: 14px;
}
