body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

#main {
    width: 220px;
    height: 300px;
    border: 1px solid black; 
    display: flex;
    align-items: center;
}

#main div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color:black;
    min-height:60px;
}

#button {
    width: 50px;
    height: 50px;
    border-radius: 1rem 1rem 1rem 1rem;
    align-items: center;

}

